<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973907732114-mk2s2lhajk5etvee12p24k4ld66bb02i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973907732114-mk2s2lhajk5etvee12p24k4ld66bb02i</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Pyiqwyrk5n2kE3nIzohe1EGCMxkafIA</string>
	<key>GCM_SENDER_ID</key>
	<string>973907732114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ranggicaa4ever.hiimimi</string>
	<key>PROJECT_ID</key>
	<string>hiiimimi</string>
	<key>STORAGE_BUCKET</key>
	<string>hiiimimi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973907732114:ios:2e7acfcedc43eeeb3a284b</string>
</dict>
</plist>